.plan-form-container {
  max-width: 900px;
  min-width: 30vw;
  margin: auto;

  h2 {
    font-weight: 650;
    color: #2455a5;
    margin-bottom: 70px;
    font-size: 38px;
  }

  ::ng-deep .p-error {
    margin-top: 0.25rem;
    font-size: 0.85rem;
  }

  ::ng-deep .ng-invalid.ng-dirty {
    border-color: #f44336;
  }

  ::ng-deep .p-inputtext, 
  ::ng-deep .p-inputnumber {
    width: 100%;
  }
}


.plan-form-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(135deg, #e0f7fa, #f5f5f5); */
  padding: 10rem 2rem 2rem 2rem;
  flex-direction: column;
}

.plan-form-container {
  background: #fff;
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  animation: fadeInUp 1s ease-out;
}


@keyframes fadeInUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

input.p-inputtext, .p-inputnumber input {
  border-radius: 8px;
  padding: 0.75rem;
  font-size: 17px;
 
}

.plan-form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 61vh;
  
}

h2{
  margin-bottom: 2.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.inputdiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  label {
    font-weight: 600;
    font-size: 17px;
   
  }

  input,
  .p-inputnumber {
    margin-bottom: 0.4rem;
    width: 350px;
    margin-top: 5px;
  }

  small.p-error {
    color: #f44336;
    font-size: 0.85rem;
    margin-top: 0.2rem;
  }

  .p-dropdown{
    width: 100%;
  }
 
}



.premium-select{
  margin-top: 3rem;
    margin-bottom: 3rem;
}

.btn-div{
  display: flex;
  justify-content: center;

  button {
    width: 200px;
  }

}


.block-btn{
  margin-right: 10px;
}

.storage-spaces-container {
  background: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  max-width: 60vw;
  min-width: 50vw;
  margin-left: 25px;
  margin-top: 80px;
}

.space-progress {
  margin-top: 0.5rem;
}

.space-actions {
  display: flex;
  gap: 0.5rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .storage-spaces-container {
    padding: 1rem;
  }
}