#CompanyName{
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family:"Oswald", sans-serif !important;
    margin-left: 12px;
}
#logo{
    WIDTH: 85PX;
    HEIGHT: 65PX;
    margin-right: 0 !important;
}

.layout-topbar-logo{
    margin-right: 20px;
}
.layout-topbar{
    height:95px ;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    background-color: aliceblue ;
}

.logout-btn {
    background-color: #e63946; /* soft red */
    color: #fff;
    border: none;
    padding: 0px 10px;
    border-radius: 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    text-align: left;
    margin-left: 25px;
}

.logout-btn:hover {
    background-color: #d62828;
}

.logout-btn i {
    font-size: 18px;
}
