
<div id="notfound-container">
    <div class="notfound-content">
      <img src="../../../assets/img/oops.png" alt="Oops character" class="oops-character">
      <h1>Oops! Page Not Found</h1>
      <p>We can't seem to find the page you're looking for.</p>
     
      <!-- user dependent  -->
      <a routerLink="/" class="home-button"> <div style="display: flex; justify-content: center; align-items: center;"><i class="pi pi-home" style="font-size: 22px; margin-right: 8px;"></i>Go Back Home
    </div></a>
    
    
    </div>
  </div>