:host ::ng-deep .p-card {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border-radius: 12px;
    overflow: hidden;
    
  }

  :host ::ng-deep .p-card.p-component {
    background-image: url('../../../../assets/img/notfound-bg.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    height: 45vh;
    width: 65vw;
  
  
  }

  .plan-container{
    display: flex;
    justify-content: center;
  }
  
  
  :host ::ng-deep .p-card:hover {
    transform: scale(1.03);
  }
  
  
  h1{
    font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
  }
  
  .card-content {
    padding: 1rem;
  }
  
  .plans-container {
    padding: 8rem 0 4rem 0rem;
  }
  
  .plan-container {
    margin-bottom: 30px;
  }

  .icon{
    margin-right: 15px;
  }

  p{
    margin-top: 30px;
    font-size: 21px;
    display: flex;
    align-items: center;
  }
  p>strong{
    margin-right: 10px;
  }

  .button-group-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }
  
  .action-button {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 1rem;
    width: 10rem;
    height: 2.75rem;
  }
  
  .action-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }