<div class="plans-container p-grid p-m-4">
    <div class="plan-container p-col-12 p-md-4" *ngFor="let plan of plans">
      <p-card subheader="Storage Plan">
        <div class="p-d-flex p-flex-column p-ai-center p-jc-between card-content">
          <h1 class="p-mb-2">{{ plan.titre }}</h1>
          <p><strong>Max Size:</strong> {{ plan.tailleMax }} GB</p>
          <p><strong>Price:</strong> {{ plan.prix }} TND</p>
        </div>
        <ng-template pTemplate="footer">
          <button pButton type="button" label="Manage" icon="pi pi-cog" class="p-button-info p-button-sm"></button>
          <button  pButton  type="button"  label="Delete"  icon="pi pi-trash"  class="p-button-danger p-button-sm" style="margin-left: 20px;"></button>
        </ng-template>
      </p-card>
    </div>
  </div>
  