#logo {
    width: 150px; /* Reduced size for better fit in footer */
    height: 120px;
}

.send-btn {
    height: 60px;
    background-color: aliceblue !important;
    margin-left: 20px;
    border-radius: 12px;
    transition: 0.3s ease;
}

.send-btn:hover {
    background-color: rgb(214, 224, 235) !important;
    scale: 1.05;
}

.subscribe-container {
    display: flex;
    justify-content: center;
}



.compact-footer {
  padding: 20px 30px;
  color: #444;
  display: flex;
  font-size: 14px;
}

.footer-logo {
  width: 230px;
}

.footer-links a,
.footer-icons a {
  margin: 0 10px;
  color: #666;
  text-decoration: none;
  transition: color 0.2s;
}

.footer-links a:hover,
.footer-icons a:hover {
  color: #000;
}

.footer-links{
    display: flex;
    align-items: center;
}

.footer-bottom {
  margin-top: 10px;
  color: #777;
}
